.nav-container {
  width: 100%;
  margin: 0;
  justify-self: flex-start;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
}
.nav-logo {
  padding: 0 0 0 2rem;
  margin: 0;
}
.nav-links {
  display: flex;
}

.nav-items {
  list-style: none;
  padding: 0 2rem;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main-content {
  padding: 2rem;
  margin-top: -10%;
}
.footer {
  align-self: center;
  color: #fff;
  margin-bottom: 1rem;
}
