.side-menu-container {
  position: fixed;
  top: 30%;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(36, 35, 35);
  height: 70%;
  color: #fff;
  /* position: fixed; */
  /* position: relative; */
  top: -30px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  width: 200px;
  height: 250px;
  /* border-left: 6px solid #f46b23; */
  border-left: 6px solid #f97a22;
}

/* animate later*/
.side-menu:hover {
}

.side-menu-links {
  margin: 0;
  padding: 0;
}
.side-menu li {
  list-style-type: none;
  padding: 8px 0;
}
.side-menu li a {
  text-decoration: none;
  color: orange;
}

.side-menu-profile-links {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.side-menu-profile-links li {
  padding: 5px 12px;
}
