* {
	box-sizing: border-box;
}
.main-container {
	/* background: url("./images/bg.svg"); */
	background: url('./images/bg.svg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	overflow: auto;
	display: flex;
}
.bg-top {
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0px;
}
.bg-bottom {
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 650px;
}
.main-content {
	margin-left: 17%;
	padding: 2rem;
	height: 100%;
}

.pagination {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 24px;
}
.pagination li {
	list-style-type: none;
	padding: 0 12px;
}
.pagination li a {
	background: #f97a22;
	padding: 6px 12px;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.322) 1px 1px 1px 1px;
	cursor: pointer;
}

.pagination li a:hover {
	background: #fff;
	color: #f97a22;
}

.pagination .active {
	background: #fff;
	color: #f97a22;
}

.details-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.board-details {
	width: 30%;
	margin-right: 3rem;
}

.board-details textarea {
	outline: none;
	border-radius: 4px;
	resize: none;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.note-details {
	width: 100%;
	height: 80%;
	margin: 0 auto;
	padding: 2px 10px;
	overflow: auto;
	border: 1px solid #ccc;
	background: #fff;
	color: #000;
	text-shadow: none;
	border-radius: 4px;
}

.md-area {
	width: 100%;
	height: 100vh;
	color: white;
	text-shadow: rgba(51, 51, 51, 0.6) 1px 1px 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.md-nav {
	display: flex;
	justify-content: space-between;
}

.md-nav h1 {
	padding: 0 1rem;
}

.md-nav ul {
	display: flex;
}
.md-nav li {
	list-style: none;
	padding: 0 1rem;
}

.md-content {
	display: flex;
	padding: 0 2em;
	overflow: auto;
	height: 100%;
	/* margin-bottom: 10%; */
}

.md-details {
	width: 70%;
	overflow: auto;
}
.md-details h1 {
	text-align: center;
}
